.heroContainer{
    /* background-image: url("../../../Images/ShopHero.png");
    background-size: cover;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.heroBox{
     background-image: url("../../../Images/ShopHero.png");
    background-size: cover;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 0;
    }
}

.heroText{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heroIcon{
    margin-top: 5px;
}

.filterBox{
    background-color: #F9F1E7;
    display: flex;
}

.filterLeft{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-left: 70px;
}

.icons{
    margin-top: 10px;
}

.filterRight{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-left: 580px;
}

.input{
    width: 30px;
    height: 70%;
}



